<div class="container">

  <mat-card-header>
    <div mat-card-avatar class="example-header-image" [style.background-image]="'url(' + data.image + ')'"></div>
    <mat-card-title>{{data.name}}</mat-card-title>
    <mat-card-subtitle>
      {{ 'Status: ' + data.status + ' | ' + 'Species: ' + data.species + ' | ' + 'Gender: ' + data.gender }}
    </mat-card-subtitle>
  </mat-card-header>


  <mat-chip-list>
    <mat-chip color="primary" selected>{{ 'First seen in: ' + data?.origin?.name }}</mat-chip>
    <mat-chip color="accent" selected>{{ 'Last known location: ' + data?.location?.name }}</mat-chip>
  </mat-chip-list>

  <app-character-info-table [locations]="locations"></app-character-info-table>

</div>