<div class="container">


  <mat-card-title>{{data.name}}</mat-card-title>
  <mat-card-subtitle>
    {{ 'Status: ' + data.status + ' | ' + 'Species: ' + data.species + ' | ' + 'Gender: ' + data.gender }}
  </mat-card-subtitle>
  <img [src]="data.image" [alt]="data.image" />

  <!-- <mat-list role="list">
    <mat-list-item role="listitem">
      {{ 'Status: ' + data.status + ' | ' + 'Species: ' + data.species + ' | ' + 'Gender: ' + data.gender }}
    </mat-list-item>
    <mat-list-item role="listitem">Item 2</mat-list-item>
    <mat-list-item role="listitem">Item 3</mat-list-item>
  </mat-list> -->

  

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ 'First seen in: ' + data?.origin?.name }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>This is the primary content of the panel.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ 'Last known location: ' + data?.location?.name }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>This is the primary content of the panel.</p>
    </mat-expansion-panel>
  </mat-accordion>

</div>