<div class="container">


  <mat-card-title>{{data.name}}</mat-card-title>
  <mat-card-subtitle>
    {{ 'Status: ' + data.status + ' | ' + 'Species: ' + data.species + ' | ' + 'Gender: ' + data.gender }}
  </mat-card-subtitle>
  <img [src]="data.image" [alt]="data.image" />

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ 'First seen in: ' + data?.origin?.name }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>This is the primary content of the panel.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ 'Last known location: ' + data?.location?.name }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>This is the primary content of the panel.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ 'Locations' }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let item of locations">
          {{ item.name }}
        </mat-list-item>
    </mat-list>
    </mat-expansion-panel>

  </mat-accordion>

  



</div>